.dino {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
  background: url('../img/dino.png') no-repeat;
}

.background {
  background: url('../img/background.png') repeat-x;
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
}

.cactus {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  background: url('../img/cactus.png');
}